html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #FAFAFA;
    color: #8B8B8B; 
    margin: 60px 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin: 10px auto 30px auto;
}

p {
    margin: 0;
}

.tlacitka {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}

.tlacitko1 {
    background-color: #407BFF;
    border-radius: 20px;
    width: 195px;
    height: 40px;
    margin: 30px auto 10px auto;
}

.tlacitko2 {
    background-color: #8B8B8B;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    margin: 0 auto 60px auto;
}

.tlacitko1 p,
.tlacitko2 p {
    padding: 11px 29px;
}

.sluzby1,
.sluzby2 {
    font-size: 13px;
}

.sluzby1 p,
.sluzby2 p {
    padding-right: 20px;
}

.sluzby1 img,
.sluzby2 img {
    padding: 20px;
}

.vylety,
.exotika,
.letenky,
.destinace,
.lehatka,
.vozy {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    margin-bottom: 15px;
    min-width: 100%;
}

.letenky {
    margin-bottom: 60px;
}

.vylety,
.destinace {
    margin-top: 30px;
}

@media screen and (min-width: 640px) {
    .tlacitka {
        display: flex;
        flex: 1 1 50%;
    }

    .tlacitko1,
    .tlacitko2 {
        margin-top: 30px;
        margin-bottom: 80px;  
    }

    .tlacitko1 {
        margin-right: 20px;
    }

    .tlacitko2 {
        margin-left: 0;
    }

    .sluzby1,
    .sluzby2 {
        display: flex;
        justify-content: center;
        flex-basis: calc(100% / 3);
    }

    .sluzby1 p,
    .sluzby2 p {
        padding: 20px 15px;
    }

    .sluzby1 img,
    .sluzby2 img {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .vylety,
    .exotika,
    .letenky {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 80px;
        min-width: 33.33%;
    }

    .destinace,
    .lehatka,
    .vozy {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 0;
        min-width: 33.33%;
    }

    .exotika,
    .lehatka {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-top: 40px;
    }
    }

    @media screen and (min-width: 1100px) {
        body {
            width: 1040px;
            margin: 60px auto 60px auto;
            display: grid;
            grid-template-columns: 490px 60px 490px;
            grid-template-rows: auto auto auto;
            row-gap: 80px;
        }

        .obrazek {
            grid-column: 3 / 4;
            max-width: 425px;
            justify-self: center;
            margin-bottom: 0;
            
        }

        .tlacitko1,
        .tlacitko2 {
            margin-bottom: 0;
        }

        .tlacitko1 {
            margin-left: 0;
        }

        .sekce1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            max-width: 490px;
            text-align: start;
            align-self: center;
            justify-self: center;
        }

        h1 {
            margin-top: 0;
        }

        h1::after {
            margin-left: 0;
            margin-right: 0;
        }

        .odstavec2 {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            padding-left: 60px;
            text-align: start;
            align-self: center;
        }

        .odstavec3 {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            width: 430px;
            text-align: start;
            align-self: center;
        }

        .sluzby1 {
            grid-column: 1 / 3;
            width: 550px;
        }
        .sluzby2 {
            grid-column: 2 / 4;
            grid-row: 3 / 4;
        }

        .vylety,
        .exotika,
        .letenky,
        .destinace,
        .lehatka,
        .vozy {
            margin-top: 0;
            margin-bottom: 0;
            min-width: 170px;
        }
    }