html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body { 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    background-color: #FAFAFA;
    color: #8B8B8B; 
    margin: 60px 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    margin-top: 40px;
    margin-bottom: 0;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
}

h1::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #407BFF;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
}

p {
    margin: 0;
}

.tlacitka {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tlacitko1 {
    background-color: #407BFF;
    border-radius: 20px;
    width: 195px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.tlacitko2 {
    background-color: #8B8B8B;
    border-radius: 20px;
    width: 220px;
    height: 40px;
    margin-bottom: 60px;
}

.tlacitko1 p,
.tlacitko2 p {
    padding: 11px 25px;
}

.sluzby1,
.sluzby2 {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sluzby1 p,
.sluzby2 p {
    padding-right: 20px;
}

.sluzby1 img,
.sluzby2 img {
    padding: 20px;
}

.vylety,
.exotika,
.letenky,
.destinace,
.lehatka,
.vozy {
    display: flex;
    flex: 1 1 80px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px #407BFF1F;
    border-radius: 10px;
    margin-bottom: 15px;
}

.letenky {
    margin-bottom: 60px;
}

.vylety,
.destinace {
    margin-top: 30px;
}

@media screen and (min-width: 640px) {
    .tlacitka {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .tlacitko1,
    .tlacitko2 {
        margin-top: 30px;
        margin-bottom: 80px;   
    }

    .tlacitko1 {
        margin-right: 20px;
    }

    h1::after {
        margin-left: auto;
    }

    .sluzby1,
    .sluzby2 {
        flex-direction: row;
        justify-content: center;
        flex: 1 1 calc(100% / 3);
    }

    .sluzby1 p,
    .sluzby2 p {
        padding: 20px 15px;
    }

    .sluzby1 img,
    .sluzby2 img {
        padding-top: 40px;
        padding-bottom: 0;
    }

    .vylety,
    .exotika,
    .letenky {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 80px;
    }

    .destinace,
    .lehatka,
    .vozy {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .exotika,
    .lehatka {
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        margin-top: 40px;
    }
    }